// Animation
// **********************************************

    @mixin animation ($delay, $duration, $animation, $repeat : 0, $direction : forwards) {

        -webkit-animation: $animation $duration $delay $repeat $direction;
        -moz-animation: $animation $duration $delay $repeat $direction;
        -o-animation: $animation $duration $delay $repeat $direction;
        animation: $animation $duration $delay $repeat $direction;

    }