/**
 * border-radius prefixer
 *
 * @param string $value Value of the border radius.  Defaults to $borderRadius settings
 */
@mixin border-radius($value: $borderRadius) {
    @include p((border-radius: $value));
}

/**
 * border-radius shorthand to prefixer
 *
 * @param string $value Value of the border radius.  Defaults to $borderRadius settings
 */
@mixin br($value: $borderRadius) { @include border-radius($value) }

/**
 * border-bottom-radius prefixer
 *
 * @param string $value Value of the border radius.  Defaults to $borderRadius settings
 */
@mixin border-bottom-radius($value: $borderRadius) {
    // no shorthand to prefixer due to inconsistancy
    border-bottom-right-radius: $value;
    -moz-border-radius-bottomright: $value;
    -webkit-border-bottom-right-radius: $value;
    border-bottom-left-radius: $value;
    -moz-border-radius-bottomleft: $value;
    -webkit-border-bottom-left-radius: $value;
}

/**
 * border-top-radius prefixer
 *
 * @param string $value Value of the border radius.  Defaults to $borderRadius settings
 */
@mixin border-top-radius($value: $borderRadius) {
    // no shorthand to prefixer due to inconsistancy
    border-top-right-radius: $value;
    -moz-border-radius-topright: $value;
    -webkit-border-top-right-radius: $value;
    border-top-left-radius: $value;
    -moz-border-radius-topleft: $value;
    -webkit-border-top-left-radius: $value;
}