// Border Radius
// **********************************************
    
    @mixin border-radius($value: $borderRadius) {

        -webkit-border-radius: $value;
        -moz-border-radius: $value;
        border-radius: $value;

    }
    @mixin br($value: $borderRadius) { @import border-radius($value) }

    @mixin border-bottom-radius($value: $borderRadius) {

        border-bottom-right-radius: $value;
        -moz-border-radius-bottomright: $value;
        -webkit-border-bottom-right-radius: $value;
        border-bottom-left-radius: $value;
        -moz-border-radius-bottomleft: $value;
        -webkit-border-bottom-left-radius: $value;

    }

    @mixin border-top-radius($value: $borderRadius) {

        border-top-right-radius: $value;
        -moz-border-radius-topright: $value;
        -webkit-border-top-right-radius: $value;
        border-top-left-radius: $value;
        -moz-border-radius-topleft: $value;
        -webkit-border-top-left-radius: $value;

    }