/**
 * Add box shadow vendor prefixes
 *
 * @param string $x X axis value of the shadow
 * @param string $y Y axis value of the shadow
 * @param string $blur Blur size
 * @param string $color Color of the shadow
 */
@mixin box-shadow($x, $y, $blur, $color) {
    @include p((box-shadow: $x $y $blur $color));
}

/**
 * Box shadow inset with vendor prefixes
 *
 * @param string $x X axis value of the shadow
 * @param string $y Y axis value of the shadow
 * @param string $blur Blur size
 * @param string $color Color of the shadow
 */
@mixin box-shadow-inset($x, $y, $blur, $color) {
    @include p((box-shadow: inset $x $y $blur $color));
}