// Transform
// **********************************************

    @mixin transform($value) {

        -webkit-transform: $value;
        -moz-transform:    $value;
        -ms-transform:     $value;
        -o-transform:      $value;
        transform:         $value;

    }

// Transform - Rotate
// **********************************************

    @mixin rotate($degrees) {

        @include transform( rotate($degrees + deg));
        filter:            progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    }

// Transform Origin
// **********************************************

    @mixin transform-origin($value) {

        -webkit-transform-origin: $value;
        -moz-transform-origin:    $value;
        -ms-transform-origin:     $value;
        -o-transform-origin:      $value;
        transform-origin:         $value;

    }

// Perspective
// **********************************************

    @mixin perspective($value) {

        -webkit-perspective: $value;
        -moz-perspective:    $value;
        -ms-perspective:     $value;
        -o-perspective:      $value;
        perspective:         $value;

    }

// Transform Translate 3D
// **********************************************

    @mixin translate3d($x, $y, $z) {
        -webkit-transform: translate3d($x,$y,$z);
        -moz-transform:    translate3d($x,$y,$z);
        -ms-transform:     translate3d($x,$y,$z);
        -o-transform:      translate3d($x,$y,$z);
        transform:         translate3d($x,$y,$z);
    }

// Force Hardware Acceleration
// **********************************************

    @mixin accel() {
        @include translate3d(0,0,0);
    }