// Transition
// **********************************************

    @mixin transition($transitionProperty, $transitionTime, $method) {

        -webkit-transition: $transitionProperty $transitionTime $method;
        -moz-transition:    $transitionProperty $transitionTime $method;
        -o-transition:      $transitionProperty $transitionTime $method;
        transition:         $transitionProperty $transitionTime $method;

    }

// Transition Delay
// **********************************************

    @mixin transition-delay($value) {

        -webkit-transition-delay: $value;
        -moz-transition-delay:    $value;
        -o-transition-delay:      $value;
        transition-delay:         $value;

    }