/**
 * Responsive device media queries based on 
 * the $responseiveMap default setting.
 */
@mixin d($device) {
    @if map-has-key($responsiveMap, $device) {
        $sizes : map-get($responsiveMap, $device);
        $min : map-get($sizes, min);
        $max : map-get($sizes, max);
        
        @if map-has-key($sizes, min) and map-has-key($sizes, max) {
            @media only screen and (min-width : $min+1) and (max-width : $max) { @content; }    
        } @else if map-has-key($sizes, max) {
            @media only screen and (max-width: $max) { @content; }
        } @else if map-has-key($sizes, min) {
            @media only screen and (min-width: $min) { @content; }
        }
    }
}

// --------------------- DEPRICATED >>>> 
/**
 * Device mixin SASS if/else tree
 *
 * DEPRICATED
 * ----------- Backwards compatibility for device() mixin
 */
@mixin device($device) {
    @if $device == mobile { 
        @include d(mobile) { @content; }
    } @else if $device == tablet { 
       @include d(tablet) { @content; }
    } @else if $device == mobile-portrait { 
        @include d(mobilePortrait) { @content; }
    } @else if $device == mobile-landscape { 
        @include d(mobileLandscape) { @content; }
    }@else if $device == tablet-portrait { 
        @include d(tabletPortrait) { @content; }
    } @else if $device == tablet-landscape { 
        @include d(tabletLandscape) { @content; }
    } @else if $device == desktop {
        @include d(desktop) { @content; }
    } @else {
        @include d($device) 
    }
}
@mixin mobile() { @include d(mobile) { @content; } }
@mixin mobile-portrait() { @include d(mobilePortrait) { @content; } }
@mixin mobile-landscape() { @include d(mobileLandscape) { @content; } }
@mixin tablet() { @include d(tablet) { @content; } }
@mixin tablet-portrait() { @include d(tabletPortrait) { @content; } }
@mixin tablet-landscape() { @include d(tabletLandscape) { @content; } }
@mixin desktop() { @include d(desktop) { @content; } }
@mixin largeDevice() { @include d(large) { @content; } }
// --------------------- DEPRICATED <<<<<<< 

// 
/**
 * Helper classes for mobile devices
 */
.showOnlyMobile {
    display:none !important;
    @include d(mobile) { display:block !important; }
}
.hideOnlyMobile { @include d(mobile) { display:none; } }
.showMobile { @include d(mobile) { display:block !important; } }
.hideMobile { @include d(mobile) { display:none; } }

/**
 * Helper classes for tablet devices
 */
.showOnlyTablet {
    display:none !important;
    @include d(tablet) { display:block !important; }
}
.hideOnlyTablet { @include d(tablet) { display:none; } }
.showTablet { @include d(tablet) { display:block; } }
.hideTablet { @include d(tablet) { display:none; } }

.showOnlyTabletPortrait {
    display:none !important;
    @include d(tabletPortrait) { display:block !important; }
}
.hideOnlyTabletPortrait { @include d(tabletPortrait) { display:none; } }
.showTabletPortrait { @include d(tabletPortrait) { display:block !important; } }
.hideTabletPortrait { @include d(tabletPortrait) { display:none; } }

/**
 * Helper classes for desktop devices
 */
.showOnlyDesktop {
    display:block;
    @include d(mobile) { display:none; }
    @include d(tablet) { display:none; }
    @include d(desktop) { display:block; }
}
.hideOnlyDesktop {
    display:none;
    @include d(mobile) { display:block; }
    @include d(tablet) { display:block; }
}
.showDesktop { @include d(desktop) { display:block; } }
.hideDesktop { @include d(desktop) { display:none; } }