// Grayscale Filter
// **********************************************

	@mixin grayscale($percent:100) {
		-webkit-filter: grayscale($percent);
	    -moz-filter:    grayscale($percent);
	    -ms-filter:     grayscale($percent);
	    -o-filter:      grayscale($percent);
	    filter:         grayscale($percent);
	}