/**
 * Hamburger button
 *
 * USAGE :
 *     .hamburger {
 *         @include hamburger();
 *     }
 *     <div class="hamburber"><span>menu</span></div>
 */
@mixin hamburger($color: #333333, $width: 24px, $height:18px, $barHeight:4px) {
    position: relative;
    height: $height;
    width: $width;

    %buns {
        display: block;
        position: absolute;
        height: $barHeight;
        width: $width;
        background-color: $color;
        left: 0;
        @include transition( all, .25s, ease );
    }

    &> span {
        @extend %buns;
        top: $height / 2;
        margin-top: -($barHeight / 2);

        &:before,
        &:after {
            @extend %buns;
            content: '';
        }

        &:before {
            top: -( $height / 2 );
            margin-top: $barHeight / 2;
        }

        &:after {
            top: $height /2;
            margin-top: -($barHeight / 2);
        }

    }

    &.active > span {
        height: 0;
        width: 0;
        top: 50%;
        left: 50%;

        &:before,
        &:after {
            top: 50%;
            left: -( $width / 2 );
            margin: 0;
        }

        &:before {
            @include rotate( 225 );
        }

        &:after {
            @include rotate( -225 );
        }

    }


    // $barHeight: $height / $barSize;

    // position: relative;
    // height: $height;
    // padding-left: $width + 5px;
    // color: $color;
    // font-size: 1.2em;
    // text-transform: uppercase;
    // cursor: pointer;

    // .buns {
    //     display: block;
    //     position: absolute;
    //     top: 50%;
    //     left: 0;
    //     margin-top: -($barHeight / 2);
    //     height: $barHeight;
    //     width: $width;
    //     color: $color;
    //     background-color: $color;
    // }
    // span {
    //     @extend .buns;
    //     &:before {
    //         @extend .buns;
    //         top: -($barHeight * 1.5);
    //         content: '';
    //     }
    //     &:after {
    //         @extend .buns;
    //         top: ($barHeight * 2.5);
    //         content: '';
    //     }
    // }
}