// Element Size
// **********************************************

    @mixin size($width, $height, $display:false) {

        width:$width;
        height:$height;

        @if $display {
            display:$display;
        }

    }

// Set Mobile Box Ratio
// **********************************************

    @mixin setBoxRatio($width, $height, $ratio : 2) {

        @include device(mobile) {
            width:           $width / $ratio;
            height:          $height / $ratio;
            margin-left:     ($width / ($ratio * 2)) * -1;
            background-size: 100% 100%;
        }

    }