// Initial Utilities
// **********************************************

    @import 'utils/settings';               //  Import default settings.  They can be overwritten by the user
    @import 'utils/prefixer';
    @import 'utils/reset';

    @if $includeReset { @include reset; }   // Conditionally include reset styles

// Helpers
// **********************************************

    @import 'helpers/backgrounds';
    @import 'helpers/blur';
    @import 'helpers/clearfix';
    @import 'helpers/devices';
    @import 'helpers/hamburger';
    @import 'helpers/sizing';
    @import 'helpers/text';
    @import 'helpers/classes';

// CSS Mixins
// **********************************************

    @import 'css/animation';
    @import 'css/background-gradient';
    @import 'css/borders';
    @import 'css/box-shadow';
    @import 'css/box-sizing';
    @import 'css/font-face';
    @import 'css/forms';
    @import 'css/keyframes';
    @import 'css/transform';
    @import 'css/transition';

// Backwards Compatibility
// **********************************************

    @import 'utils/compatibility';
    @import 'utils/base';

