////
/// Flywheel Adapt
/// This is the library entrypoint
///
/// @version 2.0.0
/// @author  chriseverson
////

/// Import default variables
@import 'src/variables';

/// Import functions
@import 'src/functions/parse-device-query';
@import 'src/functions/string-to-number';
@import 'src/functions/ratio-to-percent';

/// Import mixins
@import 'src/mixins/backgrounds';
@import 'src/mixins/clearfix';
@import 'src/mixins/devices';
@import 'src/mixins/filters';
@import 'src/mixins/inputs';
@import 'src/mixins/positioning';
@import 'src/mixins/reset-and-normalize';
@import 'src/mixins/sizing';
@import 'src/mixins/transforms';

/// Include flavored reset and normlization
@if $adapt-reset-and-normalize == true {
	@include reset-and-normalize;
}

/// Grid
@import 'src/grid/col';
@import 'src/grid/row';

/// Classes
@import 'src/classes/devices';
@import 'src/classes/dom';
@import 'src/classes/layout';