////
/// Flywheel Adapt
/// This is the library entrypoint
///
/// @version 2.0.0
/// @author  chriseverson
////

/// Import reset and normalize
///
/// @todo document this
@import 'node_modules/css-reset-and-normalize-sass/scss/flavored-reset-and-normalize.scss';

/// Import default variables
@import 'src/variables';

/// Import functions
@import 'src/functions/parse-device-query';

/// Import mixins
///
/// @todo file naming should be updated for singular/plural consistency
@import 'src/mixins/background';
@import 'src/mixins/clearfix';
@import 'src/mixins/devices';
@import 'src/mixins/filters';
@import 'src/mixins/input';
@import 'src/mixins/positioning';
@import 'src/mixins/sizing';
@import 'src/mixins/transform';

/// Grid
@import 'src/grid/col';
@import 'src/grid/row';

/// Classes
@import 'src/classes/devices';
@import 'src/classes/dom';
@import 'src/classes/layout';

// @import 'utils/inputs';

// @import 'library/helpers/hamburger';
// @import 'library/helpers/classes-responsive';

// @import 'library/base';