////
/// Flywheel Adapt
/// This is the library entrypoint
///
/// @version 2.0.0
/// @author  chriseverson
////

/// Import reset and normalize
///
/// @todo document this
@import 'node_modules/css-reset-and-normalize-sass/scss/flavored-reset-and-normalize.scss';

// Import default variables
@import 'src/variables';

// Import functions
@import 'src/functions/str-replace';

// Import mixins
//
// @todo file naming should be updated for singular/plural consistency
@import 'src/mixins/background';
@import 'src/mixins/clearfix';
@import 'src/mixins/filters';
@import 'src/mixins/input';
@import 'src/mixins/sizing';
@import 'src/mixins/transform';


@import 'src/grid/row';
@import 'src/grid/col';

// @import 'utils/devices';
// @import 'utils/directions';
// @import 'utils/display';
// @import 'utils/inputs';

// @import 'library/helpers/backgrounds';
// @import 'library/helpers/devices';
// @import 'library/helpers/hamburger';
// @import 'library/helpers/sizing';
// @import 'library/helpers/text';
// @import 'library/helpers/classes-general';
// @import 'library/helpers/classes-responsive';
// @import 'library/helpers/x';

// @import 'library/base';