<ul class="section-nav">
	<li class="section-nav-title"><a href="#get-started">Get Started</a></li>
	<li><a href="{{ site.baseurl }}/#installation">Installation</a></li>
	<li><a href="{{ site.baseurl }}/#usage">Usage</a></li>
	<li><a href="{{ site.baseurl }}/#settings">Settings</a></li>
</ul>

<ul class="section-nav">
	<li class="section-nav-title"><a href="{{ site.baseurl }}/mixins/">Mixins</a></li>
	{% assign mixins = site.mixins %}
	{% for mixin in mixins %}
		<li><a href="{{ site.baseurl }}/mixins/#{{ mixin.title | slugify }}">{{ mixin.title }}</a></li>
	{% endfor %}
</ul>

<ul class="section-nav">
	<li class="section-nav-title"><a href="{{ site.baseurl }}/responsive">Responsive</a></li>
	<li><a href="{{ site.baseurl }}/responsive">Devices</a></li>
</ul>

<ul class="section-nav">
	<li class="section-nav-title"><a href="{{ site.baseurl }}/classes/">Classes</a></li>
</ul>