#primary-footer {
	margin-top: 72px;
	color: $colorWhite;
	padding: 42px 0;
	border-top: 1px solid $colorBlack;

	.main-navigation {
		@include mobile {
			display: none;
		}
	}

	.attribution {
		@extend h1;
		line-height: 20px;

		@include mobile {
			text-align: center;
		}

		.fw-logo {
			display: inline-block;
			vertical-align: middle;
			@include size( auto, 11px );
		}
	}

}