#primary-footer {
	background: $colorBlack;
	margin-top: 72px;
	color: $colorWhite;
	padding: 20px 0;

	.main-navigation {
		@include mobile {
			display: none;
		}
	}

	.attribution {
		@extend h2;
		font-size: 16px;
		line-height: 20px;

		@include mobile {
			text-align: center;
		}


		.fw-logo {
			display: inline-block;
			vertical-align: middle;
			@include size( auto, 11px );
		}
	}

}