#primary-header {
	background: $colorBlack;
	padding: 32px 0;
	position: relative;
	@include box-shadow( 0, 1px, 1px, $colorBlack );

	h2 {
		@include cf;

		a:first-child {
			text-decoration: none;
			color: $colorWhite;
		}

		#toggle-nav {
			float: right;
			@include hamburger( $colorWhite, 24px, 18px, 6 );
		}
	}
}

