/**
 * Wrapper
 */
.wrapper {
	max-width: 1100px;
	margin: 0 auto;
	@include grid-container;
}

/**
 * Column
 */
.col {
	@for $i from 1 through 12 {
		&-#{$i} {
			@include grid-column( $i );

			@media( max-width: 620px ) {
				@include grid-column( 12 );
			}
		}
	}
}

