/**
 * Mixin
 */
.mixin {
	margin-top: 64px;
	padding-top: 64px;
	border-top: 1px solid #ccc;

	h5 {
		font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 15px;
	}

	h6 {
		margin-top: 32px;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 4px;
		font-family: $fontSecondary;
	}

	&-alias {
		margin-top: 3px;
		opacity: .9;

		p {
			margin: 0;
			font-weight: bold;
		}

		strong {
			font-weight: 600;
			text-transform: uppercase;
			font-size: 12px;
			font-family: $fontPrimary;
		}
	}

	&-content {
		.highlighter-rouge {
			margin-top: 24px;
		}
	}

	&-title {
		margin-bottom: 20px;

		.highlight {
			background: transparent;
			font-weight: bold;
			padding: 0;
			margin: 0;

			span {
				font-weight: bold;
			}

			pre {
				font-size: 16px;
				line-height: 24px;
				padding: 0;
				white-space: pre-wrap;
			    word-wrap: break-word;
			}

			.err {
				color: inherit;
				border: 0;
			}

			.nt, .nl, .na {
				&:first-child {
					color: $colorBlack;
				}
			}
		}
	}
}