.main-navigation {
	text-align: right;

	@include mobile {
		position: absolute;
		background: $colorBlack;
		width: 100vw;
		text-align: center;
		margin-left: 0;
		top: 0;
		@include bs;
		@include transform( translateY( -100% ) );
		@include transition( all, .35s, ease );

		&.active {
			top: 100%;
			@include transform( translateY( 0 ) );
		}

	}

	a {
		display: inline-block;
		font: 600 14px/1 $fontFamilyPrimary;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		text-decoration: none;
		color: $colorBlack;
		margin: 0 2%;

		@include mobile {
			display: block;
			font-size: 18px;
			padding: 24px 24px;
			border-top: 1px solid rgba( $colorWhite, .1 );
			margin-left: 0;
			@include bs;
		}

		&.active {
			color: $colorBlue;
		}

		&:hover {
			@extend .active
		}

	}
}