
$colorBackground: #f4f4ed;
$colorBlack: #202326;
$colorWhite: #fff;
$colorBlue: #5e98bc;

$fontPrimary: 'futura-pt', sans-serif;

$fontSecondary: 'acumin-pro-semi-condensed', sans-serif;

$fontCondensed: 'acumin-pro-extra-condensed', sans-serif;