////
/// Colors
////
$colorBlack:  #333;
$colorMedium: rgba( $colorBlack, .6 );
$colorWhite:  #fff;
$colorBlue:   #54ADB2;

////
/// Font Families
////
$fontFamilyPrimary: 'futura-pt', sans-serif;;
$fontFamilySecondary: 'freight-text-pro', serif;
$fontFamilyHeadline: $fontFamilySecondary;
$fontFamilyMono: 'Inconsolata', Consolas, 'Liberation Mono', Menlo, Courier, monospace;