/**
 * Sidebar
 */
#sidebar {
	@include mobile {
		display: none;
	}
}


/**
 * Section Nav
 */
.section-nav {
	margin-bottom: 32px;

	a {
		text-decoration: none;
	}

	&-title {
		margin-bottom: 4px;

		a {
			color: $colorBlack;
			text-transform: uppercase;
			position: relative;


			&.active {
				font-weight: 600;

				&:before {
					content: '';
					position: absolute;
					background: $colorBlack;
					top: 50%;
					left: -20px;
					margin-top: -2px;
					@include size( 4px );
					@include border-radius( 4px );
				}
			}
		}
	}

}