/**
 * Inline
 */
p {
	font: 16px/1.4 $fontSecondary;
	margin: 12px 0;
}

strong {
	font-weight: 600;
}

/**
 * Links
 */
a {
	color: $colorBlue;
}

/**
 * Syntax
 */
.highlighter-rouge {
}
pre {
	padding: 10px;
	font: 12px/1.2 "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

/**
 * Headings
 */
h1 {

}

h2 {
	font: 20px/1 $fontPrimary;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

h3 {
	font: 600 32px/1.2 $fontPrimary;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}

h4 {
	@extend h3;
	text-transform: none;
	font-size: 24px;
	margin-top: 42px;
	letter-spacing: 0.01em;
}

h5 {
	@extend h4;
	font-size: 16px;
	margin-top: 24px;
}

/**
 * Colors
 */
.white { color: $colorWhite; }
.black { color: $colorBlack; }