/**
 * Inline
 */
p {
	font: 16px/1.7 $fontFamilySecondary;
	margin: 12px 0;
}

strong {
	font-weight: 600;
}

/**
 * Links
 */
a {
	color: $colorBlue;
	@include transition( all, .25s, ease );

	&:hover {
		color: darken( $colorBlue, 15 );
	}
}

/**
 * Syntax
 */
.highlighter-rouge, .highlight {
	padding: 2px 4px;
	background: #f6f8fa;
	font: 13px/1.3 $fontFamilyMono;

	color: $colorBlue;
	font-weight: 600;

	pre {
		font: 13px/1.3 $fontFamilyMono;
		padding: 8px 6px;
		overflow-x: auto;
	}
}


/**
 * Headings
 */
h1 {
	font: 20px/1 $fontFamilyPrimary;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

h2 {
	font: 400 40px/1.2 $fontFamilySecondary;
	// text-transform: uppercase;
	letter-spacing: 0.03em;
	margin-bottom: 20px;
	margin-top: 64px;

	&:first-child {
		margin-top: 0;
	}
}

h3 {
	@extend h2;
	font-size: 30px;
}

h4 {
	@extend h3;
	text-transform: none;
	font-size: 20px;
	margin-top: 32px;
	letter-spacing: 0.01em;
	margin-bottom: 6px;
}

h6 {
	@extend h4;
	font-size: 16px;
}

/**
 * Colors
 */
.white { color: $colorWhite; }
.black { color: $colorBlack; }