////
/// Grid column
/// Grid library column definitions
///
/// @group  Grid
/// @since  2.0.0
/// @author chriseverson
////

/// Base column
///
/// @since 2.0.0
%#{str-slice($adapt-grid-column-selector, 2)},
#{$adapt-grid-column-selector} {
	flex-grow: 1;
	max-width: 100%;
	margin: unquote($adapt-grid-column-margin + '%');

	&-marginless {
		margin: 0;
	}

	/// Col-X
	/// A column taking up a number of the total available columns
	///
	/// @see   $adapt-grid-columns
	/// @since 2.0.0
	@for $i from 1 through $adapt-grid-columns {
		&-#{$i} {
			flex-grow: 0;
			flex-basis: unquote((100/$adapt-grid-columns * $i - ($adapt-grid-column-margin * 2)) + '%');

			&.col-marginless {
				flex-basis: unquote((100/$adapt-grid-columns * $i) + '%');
			}
		}
	}

	/// Push-X
	/// Push a column X number of columns from the left
	///
	/// @since 2.0.0
	@for $i from 1 through $adapt-grid-columns {
		&.push-#{$i} {
			margin-left: unquote(((100 / $adapt-grid-columns * $i) + $adapt-grid-column-margin) + '%');

			&.col-marginless {
				margin-left: unquote((100 / $adapt-grid-columns * $i) + '%');
			}
		}
	}

	/// Offset-X
	/// Offset a column X number of columns from the right
	///
	/// @since 2.0.0
	@for $i from 1 through $adapt-grid-columns {
		&.offset-#{$i} {
			margin-right: unquote(((100 / $adapt-grid-columns * $i) + $adapt-grid-column-margin) + '%');

			&.col-marginless {
				margin-right: unquote((100 / $adapt-grid-columns * $i) + '%');
			}
		}
	}

	// flex-basis: 30
	// flex-basis: 33%;
}