@charset "UTF-8";

////
/// Base CSS styles
///
/// These base styles are conditionally applied via the $adapt-base-styles setting
///
/// @since 1.0.0
///
/// @require $adapt-base-styles
////
@if $adapt-base-styles {

	/// Document to 100% height
	///
	/// @since 1.0.0
	html, body {
		height: 100%;
	}

	/// Remove webkit styles on text-based inputs
	///
	/// @since 1.0.0
	@each $type in $adapt-text-inputs {
		input#{$type} {
			-webkit-appearance: none;
			-webkit-border-radius: 0;
		}
	}

	/// Submit button style updates
	///
	/// @since 1.0.0
	input[type="submit"],
	button[type="submit"] {
		cursor: pointer;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
	}

}