/**
 * Global html and body settings
 */
html, body { height:100%; }

/**
 * Form inputs
 */
input:not([type="checkbox"]),
input:not([type="radio"]) {
    -webkit-appearance:none;
    -webkit-border-radius:0;
}

/**
 * Form Submit
 */
input[type="submit"] {
	cursor:pointer;
}