@charset "UTF-8";

////
/// Adapt settings
///
/// @since 1.0.0
////

////
/// Whether or not to include the Eric Meyer css reset
///
/// @since 1.0.0
/// @link  http://meyerweb.com/eric/tools/css/reset/
/// @type  {boolean}
////
$adapt-include-reset: true !default;

////
/// Whether or not to include the base browser styles
///
/// @since 1.0.0
/// @type  {boolean}
////
$adapt-base-styles: true !default;

////
/// Default border radius size
///
/// @since 1.0.0
/// @type  {length}
////
$adapt-border-radius: 3px !default;

////
/// Default browser prefixes
///
/// @since 1.0.0
/// @type  {list}
////
$adapt-browser-prefixes: webkit moz ms o !default;

////
/// Responsive device size mapping
///
/// @since 1.0.0
/// @type  {map}
////
$adapt-device-map: () !default;
$adapt-device-map: map-merge( $adapt-default-device-map, $adapt-device-map );