/**
 * Forms
 */
#forms {
	input {
		width: 100%;
		padding: 10px;
		margin: 20px 0;
		font-size: 1em;
		@include placeholder {
			font-weight: bold;
			color: red;
		}
		&:focus {
			@include placeholder {
				font-weight: normal;
				color: green;
			}
		}
	}
}