////
/// Clearfix example / testing environment
////

/// Clearfix wrapper
.clearfix-wrapper {
	max-width: 720px;
	background: $color-light;
	padding: 10px;
	@include cf;

	div {
		width: 40%;
		height: 72px;
		background: $color-green;
	}
}