/**
 * Transform Item Box
 */

.transform {
	background: #ccc;
	max-width: 420px;
	padding: 20px;
	text-align: center;
	margin: 0 auto 42px;
	@include bs;

	&:nth-child( odd ) {
		background: #aaa;
	}


}



/**
 * Perspective
 */
#perspective {
	@include perspective(700px);
}

/**
 * Rotate
 */
#rotate {
	@extend .small;
	@extend .bg-color;
	@include rotate(20);
}

/**
 * Skew
 */
#skew {
	@include skew(15deg, 5deg);
}

/**
 * Skew X
 */
#skewX {
	@include skewX(20deg);
}

/**
 * Skew Y
 */
#skewY {
	@include skewY(-5deg);
}

#transform-origin {
	@include transform-origin(top right);
	@include rotate(-15);
}
#translate3d-wrapper {
	height: 400px;
}
#translate3d {
	position: absolute;
	left: 50%;
	margin-left: -25%;
	padding: 40px;
	@extend .small;
	@extend .bg-color;
	@include translate3d(-100px, 120px, 30px);
}