---
---

@import 'adapt';
@import 'settings';
@import 'neat/neat';
@import 'layout';
@import 'syntax';
@import 'typography';
@import 'navigation';
@import 'sidebar';
@import 'header';
@import 'footer';

@import 'mixins';


body {
	background: $colorBackground;
	color: $colorBlack;
	font: 15px/1.4 $fontPrimary;
}

/**
 * Masthead
 */
#masthead {
	background: rgba( $colorBlack, .8 );
	color: $colorBackground;
	padding: 64px 0;

	p {
		font-family: $fontPrimary;
		font-size: 32px;
		font-weight: 100;
	}
}

#content,
#sidebar {
	margin-top: 64px;
}

#sidebar {
}

#content {
	background: #fff;
	padding: 26px;
	@include bs;
}




/**
 * Tables
 */
table.code {
	font-size: 13px;
	font-family: $fontPrimary;

	tr {

		th, td {
			padding: 10px 14px;
			border: 1px solid #dfe2e5;
		}

		th {
			text-align: left;
			font: 600 12px/1.2 "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
		}

		&:nth-child(even) {
			th, td {
				background: #f6f8fa;
			}
		}

	}


}



