---
---

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import 'adapt';
@import 'settings';
@import 'neat/neat';
@import 'layout';
@import 'syntax';
@import 'typography';
@import 'navigation';
@import 'sidebar';
@import 'header';
@import 'footer';

@import 'mixins';


body {
	background: $colorBackground;
	color: $colorBlack;
	font: 15px/1.4 $fontPrimary;
}


#content,
#sidebar {
	margin-top: 64px;

	@include mobile {
		margin-top: 32px;
	}
}

/**
 * Content Area
 */
#content {
	background: #fff;
	padding: 26px;
	@include bs;

	@include mobile {
		padding: 0;
		background: transparent;
	}
}


/**
 * Masthead
 */
#masthead {
	background: rgba( $colorBlack, .8 );
	color: $colorBackground;
	padding: 64px 0;

	@include mobile {
		padding: 32px 0;
	}

	p {
		font-family: $fontPrimary;
		font-size: 32px;
		font-weight: 100;

		@include mobile {
			font-size: 24px;
		}
	}
}



/**
 * Tables
 */
table {
	font-size: 13px;
	font-family: $fontPrimary;

	&.code {
		th {
			font: 600 12px/1.2 $fontMono;
		}
	}

	@include mobile {
		p { font-size: 12px; }
	}

	tr {

		th, td {
			padding: 10px 14px;
			border: 1px solid #dfe2e5;

			@include mobile {
				padding: 4px 6px;
			}
		}

		th {
			text-align: left;
			font: 600 13px/1.2 $fontPrimary;

			@include mobile {
				padding: 4px 6px;
			}
		}

		td {
			font: $fontSecondary;
		}

		&:nth-child(even) {
			th, td {
				background: #f6f8fa;
			}
		}

	}


}



