////
/// Adapt test environment settings
////

/// Colors
$color-white:  #fff;
$color-dark:   rgb(37, 37, 37);
$color-medium: #888;
$color-light:  #ddd;
$color-red:    #CA2124;
$color-blue:   #34A1CA;
$color-green:  #22D73B;
$color-yellow: #FCE622;

/// Typography
$font-family-primary: 'Work Sans', sans-serif;
$font-familiy-secondary: 'Work Sans', sans-serif;