/**
 * Colors
 */
$colorBlack: #222;
$colorWhite: #fff;

$mobileColor : #CA2124;
$tabletColor : #34A1CA;
$desktopColor : #22D73B;
$largeColor : #FCE622;

/**
 * Typography
 */
$fontPrimary: 'Open Sans', sans-serif;
$fontHeadline: 'Roboto', sans-serif;

