////
/// Flywheel Adapt test environment
///
/// @version 2.0.0
/// @author  chriseverson
////

/// Typography import
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600');


/// Import settings
@import 'settings';

/// Import adapt itself
@import '../../../adapt';

/// Import components
@import 'components/typography';
@import 'components/layout';
@import 'components/header';

/// Import test example styles
@import 'partials/grid';
@import 'partials/transform';
@import 'partials/clearfix';


// @import 'partials/backgrounds';
// @import 'partials/borders';
// @import 'partials/box-shadows';
// @import 'partials/box-sizing';
// @import 'partials/forms';
// @import 'partials/grayscale';
// @import 'partials/hamburger';
// @import 'partials/responsive';
// @import 'partials/transitions';
// @import 'partials/x';













