/**
 * Global html and body settings
 */
html, body { height:100%; }

/**
 * Form inputs
 */
input {
    -webkit-appearance:none;
    -webkit-border-radius:0;
}

/**
 * input submit
 */
input[type="submit"] { 
	cursor:pointer; 
	}