@charset "UTF-8";

////
/// Device utlities
///
/// @since 1.0.0
////

////
/// Device keys
///
/// @since 1.0.0
/// @type  {list}
////
$adapt-devices: mobile mobile-portrait mobile-landscape tablet tablet-portrait tablet-landscape desktop large;

////
/// Default device mappings
///
/// @since 1.0.0
/// @type  {map}
////
$adapt-default-device-map: (
	mobile: (max : 667px),
	mobile-portrait: (max : 375px),
	mobile-landscape: (min : 375px, max : 667px),
	tablet: (min : 667px, max : 1028px),
	tablet-portrait: (min: 667px, max : 768px),
	tablet-landscape: (min : 768px, max : 1028px),
	desktop: (min : 1028px, max : 2200px),
	large: (min : 2200px)
);

////
/// Display deprecation notices and provide backwards compatability for camelCase device
/// identifiers that were previously used.
///
/// @since 1.0.0
/// @type  function
///
/// @param {string} $device a valid device identifier with optional prefix
////
@function deprecated-devices( $device ) {

    @if str-index( $device, 'tabletPortrait' ) {
        @warn "Using deprecated device identifier 'tabletPortrait'. Use 'tablet-portrait' instead.";
        $device: str-slice( $device, 1, str-index( $device, 'tabletPortrait' ) - 1 ) + 'tablet-portrait';
    }

    @if str-index( $device, 'tabletLandscape' ) {
        @warn "Using deprecated device identifier 'tabletLandscape'. Use 'tablet-landscape' instead.";
        $device: str-slice( $device, 1, str-index( $device, 'tabletPortrait' ) - 1 ) + 'tablet-portrait';
    }

    @if str-index( $device, 'mobilePortrait' ) {
        @warn "Using deprecated device identifier 'mobilePortrait'. Use 'mobile-portrait' instead.";
        $device: str-slice( $device, 1, str-index( $device, 'mobilePortrait' ) - 1 ) + 'mobile-portrait';
    }

    @if str-index( $device, 'mobileLandscape' ) {
        @warn "Using deprecated device identifier 'mobileLandscape'. Use 'mobile-landscape' instead.";
        $device: str-slice( $device, 1, str-index( $device, 'mobilePortrait' ) - 1 ) + 'mobile-portrait';
    }

    @return $device;
}