@charset "UTF-8";

////
/// Display utlities
///
/// @since 1.0.0
////

/// Display property values (excluding none)
///
/// @since 1.0.0
/// @type  {List}
$adapt-display-types: inline inline-block block;
