// Generates vendor prefixes
// **********************************************

@mixin prefix($map, $vendors: $browserPrefixes) {
    @each $prop, $value in $map {
        @if $vendors {
            @each $vendor in $vendors {
                #{"-" + $vendor + "-" + $prop}: #{$value};
            }
        }
        
        // Dump regular property anyway
        #{$prop}: #{$value};
    }
}

// alias
@mixin p($map, $vendors: $browserPrefixes) { @include prefix($map, $vendors); }
