// Media Breakpoints
// **********************************************

// mobile
$mobilePortraitSize:  320px;
$mobileLandscapeSize: 480px;

// tablet
$tabletPortraitSize:  768px;
$tabletLandscapeSize: 1028px;

// desktop
$desktopSize:         1224px;

// Borders
// **********************************************

$borderRadius : 3px;

// Browser Prefixes
// **********************************************

$browserPrefixes : webkit moz ms o;

// CSS Reset
// **********************************************

$includeReset: true !default;