/**
 * Default settings
 *
 * All default settings can be overwritten by including a settings file
 * with these variables before including adapt.
 */

/**
 * SASS MAP for responsive keywords and document sizes.  
 * 
 * To-Do : 
 * Merge with user defined $responsiveMap ... somehow
 */
$responsiveMap : (
	mobile : (max : 667px),
	mobilePortrait : (max : 375px),
	mobileLandscape : (max : 667px),
	tablet : (min : 667px, max : 1028px),
	tabletPortrait : (min: 667px, max : 768px),
	tabletLandscape : (min : 667px, max : 1028px),
	desktop : (min : 1028px, max : 2200px),
	large : (min : 2200px)
);

$borderRadius : 3px !default;
$browserPrefixes : webkit moz ms o !default;
$includeReset : true !default;