<section id="responsive-lt" class="devices">
	<h2>Responsive (less than)</h2>

	<div class="lt-mobile-portrait">
		<p>Mobile Portrait</p>
	</div>
	<div class="lt-mobile-landscape">
		<p>Mobile Landscape</p>
	</div>
	<div class="lt-mobile">
		<p>Mobile</p>
	</div>
	<div class="lt-tablet-portrait">
		<p>Tablet Portrait</p>
	</div>
	<div class="lt-tablet-landscape">
		<p>Tablet Landscape</p>
	</div>
	<div class="lt-tablet">
		<p>Tablet</p>
	</div>
	<div class="lt-desktop">
		<p>Desktop</p>
	</div>
	<div class="lt-large">
		<p>Large Format</p>
	</div>

</section>