<section id="responsive" class="devices">
	<h2>Responsive</h2>

	<div class="mobile-portrait">
		<p>Mobile Portrait</p>
	</div>
	<div class="mobile-landscape">
		<p>Mobile Landscape</p>
	</div>
	<div class="mobile">
		<p>Mobile</p>
	</div>
	<div class="tablet-portrait">
		<p>Tablet Portrait</p>
	</div>
	<div class="tablet-landscape">
		<p>Tablet Landscape</p>
	</div>
	<div class="tablet">
		<p>Tablet</p>
	</div>
	<div class="desktop">
		<p>Desktop</p>
	</div>
	<div class="large">
		<p>Large Format</p>
	</div>

</section>
