<section id="devices">
	<h2>Devices</h2>

	<div class="device-group row">
		<div class="col col-12 col-blue device-item lte-ultrawide"><div class="label"><code>lte-ultrawide</code></div></div>
		<div class="col col-12 col-blue device-item lte-desktop"><div class="label"><code>lte-desktop</code></div></div>
		<div class="col col-12 col-blue device-item lte-tablet"><div class="label"><code>lte-tablet</code></div></div>
		<div class="col col-12 col-blue device-item lte-mobile"><div class="label"><code>lte-mobile</code></div></div>
	</div>

	<div class="device-group row">
		<div class="col col-12 col-green device-item lt-ultrawide"><div class="label"><code>lt-ultrawide</code></div></div>
		<div class="col col-12 col-green device-item lt-desktop"><div class="label"><code>lt-desktop</code></div></div>
		<div class="col col-12 col-green device-item lt-tablet"><div class="label"><code>lt-tablet</code></div></div>
		<div class="col col-12 col-green device-item lt-mobile"><div class="label"><code>lt-mobile</code></div></div>
	</div>

	<div class="device-group row">
		<div class="col col-12 col-yellow device-item gte-ultrawide"><div class="label"><code>gte-ultrawide</code></div></div>
		<div class="col col-12 col-yellow device-item gte-desktop"><div class="label"><code>gte-desktop</code></div></div>
		<div class="col col-12 col-yellow device-item gte-tablet"><div class="label"><code>gte-tablet</code></div></div>
		<div class="col col-12 col-yellow device-item gte-mobile"><div class="label"><code>gte-mobile</code></div></div>
	</div>

	<div class="device-group row">
		<div class="col col-12 col-red device-item gt-ultrawide"><div class="label"><code>gt-ultrawide</code></div></div>
		<div class="col col-12 col-red device-item gt-desktop"><div class="label"><code>gt-desktop</code></div></div>
		<div class="col col-12 col-red device-item gt-tablet"><div class="label"><code>gt-tablet</code></div></div>
		<div class="col col-12 col-red device-item gt-mobile"><div class="label"><code>gt-mobile</code></div></div>
	</div>
</section>