<section id="devices">
	<h2>Devices</h2>

	<div class="device-group row">
		<div class="col col-12 col-blue device-item lte-ultrawide"><div class="label"><code>lte-ultrawide</code></div></div>
		<div class="col col-12 col-blue device-item lte-desktop"><div class="label"><code>lte-desktop</code></div></div>
		<div class="col col-12 col-blue device-item lte-tablet"><div class="label"><code>lte-tablet</code></div></div>
		<div class="col col-12 col-blue device-item lte-mobile"><div class="label"><code>lte-mobile</code></div></div>
	</div>

	<div class="device-group row">
		<div class="col col-12 col-green device-item lt-ultrawide"><div class="label"><code>lt-ultrawide</code></div></div>
		<div class="col col-12 col-green device-item lt-desktop"><div class="label"><code>lt-desktop</code></div></div>
		<div class="col col-12 col-green device-item lt-tablet"><div class="label"><code>lt-tablet</code></div></div>
		<div class="col col-12 col-green device-item lt-mobile"><div class="label"><code>lt-mobile</code></div></div>
	</div>

	<div class="device-group row">
		<div class="col col-12 col-yellow device-item gte-ultrawide"><div class="label"><code>gte-ultrawide</code></div></div>
		<div class="col col-12 col-yellow device-item gte-desktop"><div class="label"><code>gte-desktop</code></div></div>
		<div class="col col-12 col-yellow device-item gte-tablet"><div class="label"><code>gte-tablet</code></div></div>
		<div class="col col-12 col-yellow device-item gte-mobile"><div class="label"><code>gte-mobile</code></div></div>
	</div>

	<div class="device-group row">
		<div class="col col-12 col-red device-item gt-ultrawide"><div class="label"><code>gt-ultrawide</code></div></div>
		<div class="col col-12 col-red device-item gt-desktop"><div class="label"><code>gt-desktop</code></div></div>
		<div class="col col-12 col-red device-item gt-tablet"><div class="label"><code>gt-tablet</code></div></div>
		<div class="col col-12 col-red device-item gt-mobile"><div class="label"><code>gt-mobile</code></div></div>
	</div>

	<div class="device-group row">
		<div class="col col-12 col-blue device-item between-desktop-ultrawide"><div class="label"><code>between-desktop-ultrawide</code></div></div>
		<div class="col col-12 col-blue device-item between-tablet-desktop"><div class="label"><code>between-tablet-desktop</code></div></div>
		<div class="col col-12 col-blue device-item between-phone-tablet"><div class="label"><code>between-phone-tablet</code></div></div>
	</div>

	<br>
	<h3>Device CSS Classes</h3>

	<div class="row device-class-group">
		<div class="col col-3 col-blue show-ultrawide"><div class="label"><code>.show-ultrawide</code></div></div>
		<div class="col col-3 col-blue show-desktop"><div class="label"><code>.show-desktop</code></div></div>
		<div class="col col-3 col-blue show-tablet"><div class="label"><code>.show-tablet</code></div></div>
		<div class="col col-3 col-blue show-mobile"><div class="label"><code>.show-mobile</code></div></div>
	</div>

	<div class="row device-class-group">
		<div class="col col-3 col-yellow hide-ultrawide"><div class="label"><code>.hide-ultrawide</code></div></div>
		<div class="col col-3 col-yellow hide-desktop"><div class="label"><code>.hide-desktop</code></div></div>
		<div class="col col-3 col-yellow hide-tablet"><div class="label"><code>.hide-tablet</code></div></div>
		<div class="col col-3 col-yellow hide-mobile"><div class="label"><code>.hide-mobile</code></div></div>
	</div>

	<div class="row device-class-group">
		<div class="col col-3 col-green show-gt-ultrawide"><div class="label"><code>.show-gt-ultrawide</code></div></div>
		<div class="col col-3 col-green show-gt-desktop"><div class="label"><code>.show-gt-desktop</code></div></div>
		<div class="col col-3 col-green show-gt-tablet"><div class="label"><code>.show-gt-tablet</code></div></div>
		<div class="col col-3 col-green show-gt-mobile"><div class="label"><code>.show-gt-mobile</code></div></div>
	</div>

	<br>
	<h3>Device Shortcuts</h3>

	<div class="row device-group">
		<div class="col col-6 col-green device-shortcut device-shortcut-mobile"><div class="label"><code>mobile</code></div></div>
		<div class="col col-6 col-blue device-shortcut device-shortcut-tablet"><div class="label"><code>tablet</code></div></div>
	</div>


</section>