<section id="filters">
	<h2>Filters</h2>

	<div class="row">
		<div class="col col-4">
			<img class="filter-greyscale" src="/test/assets/img/sample.jpg">
			<div class="label"><code>greyscale</code></div>
		</div>
		<div class="col col-4">
			<img class="filter-blur" src="/test/assets/img/sample.jpg">
			<div class="label"><code>blur</code></div>
		</div>
		<div class="col col-4">
			<img class="filter-brightness" src="/test/assets/img/sample.jpg">
			<div class="label"><code>brightness</code></div>
		</div>
		<div class="col col-4">
			<img class="filter-contrast" src="/test/assets/img/sample.jpg">
			<div class="label"><code>contrast</code></div>
		</div>
		<div class="col col-4">
			<img class="filter-saturate" src="/test/assets/img/sample.jpg">
			<div class="label"><code>saturate</code></div>
		</div>
	</div>
</section>