<section id="grid">
	<h2>Grid</h2>

	<h4>Standard Row</h4>
	<div class="row">
		<div class="col col-4 col-red"></div>
		<div class="col col-4 col-green"></div>
		<div class="col col-2 col-blue"></div>
		<div class="col col-2 col-red"></div>
		<div class="col col-12 col-green"></div>
		<div class="col col-6 push-6 col-blue"></div>
	</div>

	<h4>&amp;-row</h4>
	<div class="row row-row">
		<div class="col col-3 col-red"></div>
		<div class="col col-3 col-blue"></div>
		<div class="col col-3 col-green"></div>
	</div>

	<h4>&amp;-row-reverse</h4>
	<div class="row row-row-reverse">
		<div class="col col-3 col-red"></div>
		<div class="col col-3 col-blue"></div>
		<div class="col col-3 col-green"></div>
	</div>

	<h4>&amp;-column</h4>
	<div class="row row-column">
		<div class="col col-3 col-red"></div>
		<div class="col col-3 col-blue"></div>
		<div class="col col-3 col-green"></div>
	</div>

	<h4>&amp;-column-reverse</h4>
	<div class="row row-column-reverse">
		<div class="col col-3 col-red"></div>
		<div class="col col-3 col-blue"></div>
		<div class="col col-3 col-green"></div>
	</div>

	<h4>&amp;-justify-left</h4>
	<div class="row row-justify-left">
		<div class="col col-3 col-red"></div>
		<div class="col col-3 col-blue"></div>
		<div class="col col-3 col-green"></div>
	</div>

	<h4>&amp;-justify-center</h4>
	<div class="row row-justify-center">
		<div class="col col-3 col-red"></div>
		<div class="col col-3 col-blue"></div>
		<div class="col col-3 col-green"></div>
	</div>

	<h4>&amp;-justify-right</h4>
	<div class="row row-justify-right">
		<div class="col col-3 col-red"></div>
		<div class="col col-3 col-blue"></div>
		<div class="col col-3 col-green"></div>
	</div>

	<h4>&amp;-justify-between</h4>
	<div class="row row-justify-between">
		<div class="col col-3 col-red"></div>
		<div class="col col-3 col-blue"></div>
		<div class="col col-3 col-green"></div>
	</div>

	<h4>&amp;-justify-around</h4>
	<div class="row row-justify-around">
		<div class="col col-3 col-red"></div>
		<div class="col col-3 col-blue"></div>
		<div class="col col-3 col-green"></div>
	</div>

	<h4>&amp;-justify-evenly</h4>
	<div class="row row-justify-evenly">
		<div class="col col-3 col-red"></div>
		<div class="col col-3 col-blue"></div>
		<div class="col col-3 col-green"></div>
	</div>

	<h4>&amp;-align-top</h4>
	<div class="row row-align-top">
		<div class="col col-3 col-tall col-red"></div>
		<div class="col col-3 col-green"></div>
		<div class="col col-3 col-short col-blue"></div>
		<div class="col col-3 col-tall col-yellow"></div>
	</div>

	<h4>&amp;-align-bottom</h4>
	<div class="row row-align-bottom">
		<div class="col col-3 col-tall col-red"></div>
		<div class="col col-3 col-green"></div>
		<div class="col col-3 col-short col-blue"></div>
		<div class="col col-3 col-tall col-yellow"></div>
	</div>

	<h4>&amp;-align-center</h4>
	<div class="row row-align-center">
		<div class="col col-3 col-tall col-red"></div>
		<div class="col col-3 col-green"></div>
		<div class="col col-3 col-short col-blue"></div>
		<div class="col col-3 col-tall col-yellow"></div>
	</div>

	<h4>&amp;-align-stretch</h4>
	<div class="row row-align-stretch">
		<div class="col col-3 col-tall col-red"></div>
		<div class="col col-3 col-green"></div>
		<div class="col col-3 col-short col-blue"></div>
		<div class="col col-3 col-tall col-yellow"></div>
	</div>

	<h4>&amp;-align-baseline</h4>
	<div class="row row-align-baseline">
		<div class="col col-3 col-tall col-red">First</div>
		<div class="col col-3 col-green">Second</div>
		<div class="col col-3 col-short col-blue">Third</div>
		<div class="col col-3 col-tall col-yellow">Fourth</div>
	</div>

	<h4><code>.col-marginless</code></h4>
	<div class="row">
		<div class="col col-6 col-marginless col-blue"></div>
		<div class="col col-6 col-green"></div>
	</div>

	<h4><code>.col-offset-x</code></h4>
	<div class="row">
		<div class="col col-2 col-blue"></div>
		<div class="col col-2 offset-6 col-green"></div>
		<div class="col col-2 col-yellow"></div>
	</div>


	<div class="thing">
	</div>
</section>