<section id="responsive-gte" class="devices">
	<h2>Responsive (greater than or equal to)</h2>

	<div class="gte-mobile-portrait">
		<p>Mobile Portrait</p>
	</div>
	<div class="gte-mobile-landscape">
		<p>Mobile Landscape</p>
	</div>
	<div class="gte-mobile">
		<p>Mobile</p>
	</div>
	<div class="gte-tablet-portrait">
		<p>Tablet Portrait</p>
	</div>
	<div class="gte-tablet-landscape">
		<p>Tablet Landscape</p>
	</div>
	<div class="gte-tablet">
		<p>Tablet</p>
	</div>
	<div class="gte-desktop">
		<p>Desktop</p>
	</div>
	<div class="gte-large">
		<p>Large Format</p>
	</div>

</section>