<section id="responsive-gt" class="devices">
	<h2>Responsive (greater than)</h2>

	<div class="gt-mobile-portrait">
		<p>Mobile Portrait</p>
	</div>
	<div class="gt-mobile-landscape">
		<p>Mobile Landscape</p>
	</div>
	<div class="gt-mobile">
		<p>Mobile</p>
	</div>
	<div class="gt-tablet-portrait">
		<p>Tablet Portrait</p>
	</div>
	<div class="gt-tablet-landscape">
		<p>Tablet Landscape</p>
	</div>
	<div class="gt-tablet">
		<p>Tablet</p>
	</div>
	<div class="gt-desktop">
		<p>Desktop</p>
	</div>
	<div class="gt-large">
		<p>Large Format</p>
	</div>

</section>