<section id="transforms">
	<h2>Transforms</h2>

	<div class="row">
		<div id="transform-rotate" class="col col-3 transform-item">
			<div><div class="label"><code>rotate</code></div></div>
		</div>

		<div id="transform-translate" class="col col-3 transform-item">
			<div><div class="label"><code>translate</code></div></div>
		</div>

		<div id="transform-translate-x" class="col col-3 transform-item">
			<div><div class="label"><code>translate-x</code></div></div>
		</div>

		<div id="transform-translate-y" class="col col-3 transform-item">
			<div><div class="label"><code>translate-y</code></div></div>
		</div>
	</div>

</section>
