////
/// Clearfix helper mixins
///
/// @group Mixins
/// @since 2.0.0
////

/// Clearfix helper mixin
///
/// @since 1.0.0
@mixin clearfix {
	zoom: 1;

	&:before,
	&:after {
		content: '\0020';
		display: block;
		height: 0;
		overflow: hidden;
	}

	&:after {
		clear: both;
	}
}

/// Clearfix helper shorthand
///
/// @since 1.0.0
/// @alias clearfix
@mixin cf {
	@include clearfix;
}