////
/// Filter mixins
/// This is a group of mixins to provide shorthand access to common filters
///
/// @group Mixins
/// @since 2.0.0
////

/// Grayscale
///
/// @since 2.0.0
/// @param number $value
@mixin grayscale($value) {
	filter: grayscale($value);
}

/// Greyscale
///
/// @since 2.0.0
/// @alias mixin greyscale
/// @param number $value
@mixin greyscale($value) {
	@include grayscale($value);
}

/// Blur
///
/// @since 2.0.0
/// @param number $value
@mixin blur($value) {
	filter: blur($value);
}

/// Brightness
///
/// @since 2.0.0
/// @param number $value
@mixin brightness($value) {
	filter: brightness($value);
}

/// Contrast
///
/// @since 2.0.0
/// @param number $value
@mixin contrast($value) {
	filter: contrast($value);
}

/// Saturate
///
/// @since 2.0.0
/// @param number $value
@mixing saturate($value) {
	filter: saturate($value);
}