@charset "UTF-8";

////
/// Applies clearfix styles to an element
///
/// @since 1.0.0
/// @alias {cf}
////
@mixin clearfix() {
    zoom: 1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after { clear: both; }
}

////
/// Clearfix mixin alias
///
/// @since 1.0.0
////
@mixin cf { @include clearfix(); }