@charset "UTF-8";

////
/// Sizing helpers
///
/// @since 1.0.0
////

/// Element size mixin
///
/// @since 1.0.0
///
/// @param {Length} $width - element width
/// @param {Length} $height [$width] - element height
@mixin size( $width, $height: $width ) {
    width:$width;
    height:$height;
}

/// Set mobile box ratio
///
/// @since 1.0.0
/// @todo  needs testing
/// @todo  needs documentation
///
/// @param {Length}  $width  - element width
/// @param {Length}  $height - element height
/// @param {Integer} $ratio  [2] - ratio
@mixin setBoxRatio( $width, $height, $ratio: 2 ) {
    @include device(mobile) {
        width:           $width / $ratio;
        height:          $height / $ratio;
        margin-left:     ($width / ($ratio * 2)) * -1;
        background-size: 100% 100%;
    }
}