@charset "UTF-8";

////
/// Text helpers
///
/// @since 1.0.0
////

///	Break word mixin
///
///	@since 1.0.0
@mixin break-word() {
    -ms-word-break: break-all;
    word-break: break-word;

    // prefix hyphens
    @include p((hyphens: auto));
}
