@charset "UTF-8";

////
/// Close button mixin
///
/// @since 1.0.0
///
/// @param {color}  $color    [#333] button color
/// @param {length} $width    [24px] width of button
/// @param {length} $height   [$width] height of button
/// @param {length} $bar-size [2px] size (width) of cross bars
///
/// @example scss
///     .close {
///         @include x( #c00, 32px, 32px, 3px );
///     }
////

@mixin x( $color: #333, $width: 24px, $height: $width, $bar-size: 2px ) {
    position: relative;
    @include size( $width, $height );

    &:before,
    &:after {
        position: absolute;
        display: block;
        content: '';
        background: $color;
        width: 125%;
        height: $bar-size;
        top: 50%;
    }

    &:before {
        @include rotate( -45 );
    }

    &:after {
        @include rotate( 45 );
    }
}
