////
/// Variables
///
/// @group  Core
/// @since  2.0.0
/// @author chriseverson
////

/// Maximum grid width
///
/// @since 2.0.0
/// @type  Number
$adapt-grid-max-width: 1024px !default;

/// Desired grid width
///
/// @since 2.0.0
/// @type  Number
$adapt-grid-width: 90% !default;

/// Grid row selector
///
/// @since 2.0.0
/// @type  List
$adapt-grid-row-selector: '.row' !default;

/// Grid column selector
///
/// @since 2.0.0
/// @type  List
$adapt-grid-column-selector: '.col' !default;

/// Number of grid columns
///
/// @since 2.0.0
/// @type  Number
$adapt-grid-columns: 12 !default;

/// Grid column margin
///
/// @todo update to accept an array of [top/bottom, right/left] or [top, bottom, right, left]
///
/// @since 2.0.0
/// @type  Number
$adapt-grid-column-margin: .75 !default;
